slave-one:
  build: /vagrant/docker-build
  restart: always
  net: host
  pid: host
  environment:
    MESOS_MASTER: zk://192.168.33.10:2181/mesos
    MESOS_CONTAINERIZERS: docker,mesos
    MESOS_IP: 192.168.33.11
    MESOS_HOSTNAME: 192.168.33.11
    MESOS_PORT: 5051
    MESOS_RESOURCES: ports(*):[11000-11999]
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup
    - /usr/bin/docker:/usr/bin/docker
    - /var/run/docker.sock:/var/run/docker.sock
