zk:
  image: jplock/zookeeper
  restart: always
  ports:
   - 2181:2181
   - 2888:2888
   - 3888:3888
  volumes:
    - /data/zookeeper/logs:/var/log/zookeeper
    - /data/zookeeper/data:/var/lib/zookeeper
  environment:
    ZK_CONFIG: tickTime=2000,initLimit=10,syncLimit=5,maxClientCnxns=128,forceSync=no,clientPort=2181
    ZK_ID: 1

master:
  image: mesosphere/mesos-master:0.25.0-0.2.70.ubuntu1404
  restart: always
  net: host
  volumes:
    - /data/mesos/lib:/var/lib/mesos
    - /data/mesos/logs:/var/log/mesos
  environment:
    MESOS_ZK: zk://127.0.0.1:2181/mesos
    MESOS_IP: 192.168.33.10
    MESOS_QUORUM: 1
    MESOS_CLUSTER: docker-compose
    MESOS_WORK_DIR: /var/lib/mesos
    MESOS_LOG_DIR: /var/log/mesos

marathon:
  image: mesosphere/marathon:v0.13.0
  restart: always
  net: host
  environment:
    MARATHON_MASTER: zk://127.0.0.1:2181/mesos
    MARATHON_DECLINE_OFFER_DURATION: 3600000
